.col-md-10.user-page
  %section{:class=>"user-profile", :style => "background-image:url('#{@user.cover.url}')"}
    .user-avatar
      =image_tag(@user.avatar.url(:square), class:"img img-responsive img-circle")
    .user-names
      =@user.first_name
      =@user.last_name
    - unless current_user.id == @user.id
      - unless current_user.following?(@user)
        .follow-link
          =link_to follow_user_path, class:"btn btn-primary btn-new", remote: true do
            Follow
      - else
        .follow-link
          = link_to unfollow_user_path, remote: true, class: "btn btn-default btn-new" do
            Unfollow
  .row
    .col-md-3
      .following
        .row
        -@followers.each do |f|
          .col-md-3.follow-preview
            =link_to f, "data-toggle"=>"tooltip", "data-placement"=>"top", "title"=>f.username do
              =image_tag(f.avatar.url(:thumb), class:"img img-responsive")
        .following-count
          =link_to followers_user_path, class:"btn btn-primary btn-follow" do
            ="See all followers (#{@user.followers_count})"

      .following
        .row
        -@follow.each do |f|
          .col-md-3.follow-preview
            =link_to f, "data-toggle"=>"tooltip", "data-placement"=>"top", "title"=>f.username do
              =image_tag(f.avatar.url(:thumb), class:"img img-responsive")
        .following-count
          =link_to following_user_path, class:"btn btn-primary btn-follow" do
            ="See all following (#{@user.follow_count})"
    .col-md-6.posts
      -@posts.each do |post|
        %div{:class=>"post", :id => "post_#{post.id}"}
          .row
            .col-md-12.post-header
              =image_tag(post.user.avatar.url(:thumb), class:"img img-responsive img-circle pull-left")
              =link_to post.user.username, post.user, class:"post-link"
          .row
            .col-md-12.post-date
              %em
              =time_ago_in_words(post.created_at)
              ago...

          .row
            .col-md-12.post-body
              =post.body
          .row
            .col-md-12.post-social
              -unless current_user.voted_for? post
                %span.like
                  =link_to like_post_path(post), remote: true, class:"btn btn-success" do
                    Like
              -else
                %span.like
                  =link_to dislike_post_path(post), remote: true, class:"btn btn-default" do
                    Unlike
              %span.likes
                =post.votes_for.size



:javascript
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
